<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Courses</h1>
    <ul class="cousres_list">
    {% for c in courses %}
        <li class="course_item">
            <h2>
                <a href="{% url 'examinationapp:detail' id=c.id %}">{{ c.title }}</a>
            </h2>
            
            <h2>Rate: {{ c.rate }}</h2>
        </li>
    {% endfor %}
</ul>

</body>
</html>